{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2 class="display-4 mb-4">Edit User:</h2>
            <h3 class="fs-4 mb-5">{{user.first_name}} {{user.last_name}}</h3>

            <form method="POST">

                <div class="form-floating mb-3">
                    <input name="first_name" class="form-control" id="first_name" placeholder="first name">
                    <label for="first_name">first name</label>
                </div>

                <div class="form-floating mb-3">
                    <input name="last_name" class="form-control" id="last_name" placeholder="last name">
                    <label for="last_name">last name</label>
                </div>

                <div class="form-floating mb-3">
                    <input name="image_url" class="form-control" id="image_url" placeholder="image url">
                    <label for="image_url">image url</label>
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-info">Save</button>
                    <a href="/users" class="btn btn-outline-secondary mx-3">Cancel</a>
                </div>
                

            </form>

{% endblock %}
