{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td class="">
                            <h2 style="line-height: 0.8" class="display-4 mb-0">{{post.title}}</h2>
                        </td>

                        <td class="align-bottom">
                            <form style="text-align: end">
                                <button class="btn btn-outline-primary btn-sm mx-2" formaction="/posts/{{ post.id }}/edit-post"
                                    formmethod="GET">Edit</button>
                            
                                <button class="btn btn-outline-danger btn-sm" formaction="/posts/{{ post.id }}/delete-post"
                                    formmethod="POST">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="mb-4">

    <div class="row">
        <div class="col">
            <p><a href="/users/{{ post.user.id }}">Back To All Posts</a></p>
        </div>

        <div class="col">
            <p style="text-align:right"><b>Author:</b> {{ post.user.first_name }} {{ post.user.last_name }}</p>
            <p style="text-align:right"><b>Published at:</b> {{ post.format_date }}</p>
        </div>
    </div>
    
    <div class="row">
        <div style="padding: 100px 250px 0 250px" id="post-content">
            <p>{{ post.content }}</p>
        </div>
    </div>

</div>




{% endblock %}